.contenedorPerfil {
    height: 100%;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px #888888;
    margin: 40px 10px;
}

.fotoPerfil {
    height: 50px;
}

.datoUsuario {
    font-weight: 600;
    margin: 0;
}

.datoPie {
    font-size: 50 !important;
    margin-top: 10 !important;
    color: #6495ED
}

.inputEditPerfil {
    border: 1px solid #ccc;
    height: 50px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
}

.formEdit {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.ojo {
    position: relative;
    color: #6d6d6d;
    bottom: 25px;
    right: 5px;
    cursor: pointer;
}

.eliminarCuenta {
    font-weight: 500;
    color: rgba(212, 20, 20, 0.799);
}

.eliminarCuenta:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

@media(width<450px) {
    .contenedorPerfil {
        width: 300px;
    }
}