 .turnosContainer {
  background-color: #1F89F6;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: -2px;
   color:white;
  }
  
  .turnosTitle {
    text-align: center;
    font-size: 25px;
  }
  

  .contBtn{

    justify-content: center;
    align-content: center;
    display: flex !important;
    /* width: 100% !important; */
    padding-top: 50px; 
  }

  .selectTramite {
    
    width: 250px !important;
    margin-left: 10px !important;
    margin-bottom: 25px;
        
    }

.select-container {
  display: flex;
  flex-direction: row;
  width: 100% !important;
  margin-left: 10px;
}


.tipoTramite {
  margin-top: 13px;
  margin-left: 690px;
  margin-bottom: 200px;
}

.inputsContainer{
  
  flex-direction: column !important;
  columns: 4 !important;
  margin-left: 390px;
  
}

.inputNombre {
  width: 500px !important;
  margin-bottom: 20px !important;
}

.inputApellido {
  width: 500px !important;
  margin-left: 250px !important;
}

.inputCuil {
  width: 500px !important;
  margin-bottom: 20px !important;
}

.inputMail {
  width: 500px !important;
  margin-left: 250px !important;
  margin-top: 20px !important;
}


.separadorTurnos {
    width: 1915px;
    height: 50px; 
    background-color: #1F89F6;
    margin-top: 60px;
}

.fechaContainer {
  background-color: #1F89F6;
  padding: 5px;
  border-radius: 5px;
  margin-top: 75px;
  margin-bottom: 30px;
  margin-left: -2px;
 color:white;
}

.fechaTitle {
  text-align: center;
  font-size: 25px;

}