.contenedorImagenReporte{
    text-align: center;
}
.fotoReporte{
    width: fit-content;
    height: 30px;
}
.botonVer{
    height: 16px;
    margin-right: 20px;
}
.botonVer:hover{
    transform: scale(1.8);
    color: orange;
  }

.botonDespacho{
    height: 16px;
    margin-right: 20px;
}
.botonDespachoDisable{
    height: 16px;
    margin-right: 20px;
}
.botonDespacho:hover{
    transform: scale(1.8);
    color: green;
  }