.fondoHome {
    position: relative;
    background-image: url('../../assets/logo-SMT-Blanco.png');
    background-repeat: repeat;
    background-size: 150px;
    background-color: #fff;
    height: 100dvh;
    width: 100%;
}

@media (max-width: 768px) {
    .fondoHome {
        height: 130dvh;
    }
}

.fondoHome::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
}